extends ./lay

block title
    | Rank

append css
    link(href="/index.css" rel="stylesheet")

block content
    if req.user
        p.w-100.text-end.p-2#login
            | Logged in as 
            img.rounded-circle(src=`https://cdn.discordapp.com/avatars/${req.user.id}/${req.user.avatar}?size=24`)
            b= req.user.username
            a.btn.btn-secondary.btn-sm.ms-2(href="/logout") Logout
            br
            | Your votes are anonymous.
            br
            a.btn.btn-secondary.btn-sm(href="/blacklist").mt-1 "Never played" list
        .d-flex.flex-column.vw-100.vh-100.d-none.justify-content-center.align-items-center#vote
            h3.mb-5 Which character do you prefer?
            .w-100.d-flex.justify-content-evenly.align-items-center.mb-3r#options.mb-2: for i in [0, null, 1]
                if i !== null
                    .d-flex.flex-column.align-items-cente
                        button.btn.btn-primary.btn-lg.mb-3(onclick=`vote(${i})`) #[img.rounded]#[br]#[span]
                        button.btn.btn-secondary.btn-sm(onclick=`blacklist(${i})`) Never played
                else
                    h5 or
            button.btn.btn-secondary.btn-sm.mb-2(onclick="blacklist(2)") Never played either
            button.btn.btn-secondary.btn-sm.mb-3(onclick="reroll()") Reroll
            hr.w-100
            span Your votes: #[b#me ?]
            span Total votes: #[b#total ?]
            span People currently voting: #[b#voters ?]
                    
        .d-flex.vw-100.vh-100.justify-content-center.align-items-center#load: .spinner-border(role="status"): span.visually-hidden Loading...
        .d-flex.vw-100.vh-100.justify-content-center.align-items-center.d-none#finish.text-center: h4 There are no more items to vote on. #[br] Thanks for voting!
    else
        .vh-100.d-flex.flex-column.justify-content-center.align-items-center.text-center: .w-75
            p [intro sentence]
            h3 #[a(href="/login") Login with Discord] to vote on characters
            p Provided by #[img(src="https://slay.ocean.lol/icon.png" style="width:2rem")] #[b Slaytabase]

append js
    if req.user
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js")
        script(src="/index.js")